.svg{
position: absolute;
left: 87.55%;
right: 8.27%;
top: 22.81%;
bottom: 24.56%;

}
/* Group 1 */
.search{
    position: absolute;
left: 59.52%;
right: 23.06%;
top: 19.3%;
bottom: 19.3%;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.footer{
    width: 100%;
    height: 30px;
    text-align: center;
    color: dimgray;
    background-color: #242624;
}

.topfooter{
    width: 100%;
    height: 200px;
    background-color: #2A2B21;
}
/* logo_novelfast 1 */

